.player-card {
  display: flex;
  width: 100%;
  background-color: transparent;
  color: #635F6F;
  border-bottom: 2px solid #D7D0CF;

  .track {
    display: flex;
    width: 90%;
    padding: 0 10px;

    .player {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width:fit-content;
      color: #444256;
    
      label {
        display: flex;
        margin: 0;
      }
    
      .car {
        display: flex;
        height: 40px;
        margin: 5px 0;
      }
    }
  }

  .player-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    word-wrap: normal;
    
  }

  // section {
  //   display: flex;
  //   align-items: flex-end;
  //   justify-content: space-between;

  //   .user-stats {
  //     display: flex;
  //     width: 40%;
  //     height: 25px;
  //     justify-content: space-around;
  //     background-color: #D7D0CF;
  //     position: absolute; 
  //     align-items: center;
  //     right: 0; 
  //     bottom: 0;
  //     border-top-left-radius: 25px;
  //   }
  // }
}

