.player-card {
  display: flex;
  width: 100%;
  background-color: transparent;
  color: #635F6F;
  border-bottom: 2px solid #D7D0CF;

  .track {
    display: flex;
    width: 90%;

    .player {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      width: fit-content;
    
      label {
        display: flex;
        margin: 0;
      }
    
      .car {
        display: flex;
        height: 40px;
      }
    }
  }

  .player-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    word-wrap: normal;
  }
}