.mp-codeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
  margin: 0;
  outline: none;
}

// Optional Border/Background for multiplayer text area

// .code {
//   background-color: rgb(255, 255, 255);
//   padding: 2%;
//   border-radius: 15px;
// }