.servers {
  display: flex;
  flex-direction: column;
  width: 50.25%;
}

.serverButton {
  display: flex;
  width: 75%;
  background-color: #E0D9D9;
  border: 1px solid #D7D0CF;
  font-size: 20px;

  div {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.serverButton:hover {
  background-color: #444256;
  color: white;
}