.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  border: 1px solid #D7D0CF;
  border-right: none;

  .welcome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 0 2em;
  }

  .text {
    font-weight: 300;
    font-size: 20px;
    margin: 15px 0;
  }
  
  h1 {
    color: #673B1D;
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 0;
  }
  h2 {
    color: #673B1D;
    font-weight: 300;
    margin: 0;
  }

  .charts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .chart-wrapper {
    display: inline-block;
    justify-content: center;
    width: 40%;
    margin-right: 50px;
  }
}

// For testing the resizing of charts
#Test {
  width: 1000px;
  height:500;
}
