.statistics-block {
  display: flex;
  width: 100%;
  gap: 1em; 
  margin: 15px 0;

  .frame {
    border: 1px solid #D7D0CF;
    flex: 1 1 0;
    padding: 1rem;
  }

  .inner {
    display: block;
    text-align: center;
  }

  .top {
    font-size: 20px;
    color: #636071;
  }

  .bottom {
    font-size: 20px;
  }
}

// hr {
//   border: 1px solid #D7D0CF;
//   margin: 2%;
// }