.button {
  color: #444256;
  background-color: #E0D9D9;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 5px;
}

.button--highlighted {
  color: white;
  background-color: #444256;
}