.information {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.info {
  width: 100%;
  border-bottom: 1px solid #D7D0CF;
  color: #635F6F;
  font-size: 20px;
  text-decoration: none;
  padding: 9px 0;
}

.time {
  color: #444256;
  font-weight: bold;
}