.lineContainer {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 3px 0;

  .ch {
    font-size: 20px;
    margin: 0;
  }

  .ch--wrong {
    background-color: rgb(255, 0, 0, 0.5);
  }  
}

.ticker {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  width: 2px;
  height: 24px;
}