.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #EFE7E4;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 97.5%;
  height: 95vh;
}
<<<<<<< HEAD

.simple-keyboard {
  width: 60vw;
}
=======
>>>>>>> 99347366e32ecc08962221c60f1c559ef90d4d5f
