.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: #EFE7E4;
}

.container {
  display: flex;
  width: 97.5%;
  height: 95vh;
}