.table {
  border: 1px solid #E0D9D9;
  width: 100%;
  font-size: 20px;
  text-align: center;


  th {
    border-bottom: 1px solid #E0D9D9;
    padding: 10px;
  
  }
  
  td {
    text-align: center;
    padding: 5px;
  }
}