 
  table {
    border: 2px solid #E0D9D9;
    width: 800px;
    height: 200px;
    border-radius: 25px;
  }
    
  th {
    border-bottom: 1px solid #E0D9D9;
    padding: 10px;
    
  }
    
  td {
    text-align: center;
    padding: 5px;
  }
  